@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --bg-dark: #0e0e0e;
  --text-white: #ffffff;
  --text-gray: #d1d5db;
  --lime: #c7f464;
  --blue: #50b8e7;
  --font-main: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-dark);
  color: var(--text-white);
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-main);
}
